<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Bloomreach_Feed::config_settings" title="Bloomreach Feed" translate="title" sortOrder="250">
                    <resource id="Bloomreach_Feed::submit_products" title="Submit Products" translate="title"/>
                    <resource id="Bloomreach_Feed::submit_status" title="Submit Products Status" translate="title"/>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
